.hero{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    margin-top: 3%;

    & .hero__logo{
        width: 630px;
        height: 180px;
        margin-top: 80px;
        display: flex;
        flex-direction: column;

        & img{
            height: 100%;
            width: 100%;
        }

        & .hero__slogan{
            margin-top: 0;
            margin-left: 14px;
            font-size: 2.65rem;
            font-weight: 700;
            color: $secondary-clr;
        }
    }
    
    & .front__services__wrapper {
        width: 350px;
        height: 350px;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        color: $primary-clr;
        margin-top: 24px;
        margin-left: 100px;

        & .front__services__item {
            width: 75px;
            height: 112px;
            margin: 20px 10px;


            & .front__service__name{
                color: $text-color;
                font-size: 14px;
                margin-top: 10px;
                font-weight: 600;
                text-align: center;
            }
        }
    }

    & .hero__image{
        width: 710px;
        height: 710px;
        z-index: -1;
        
        & .bg__img{
            background-image: url("/images/Ellipse\ 5.svg");
            background-position: center ;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 50%;
            height: 100%;
            width: 100%;
        }
    }


}