.menu__wrapper{
    width: 450px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-left: 60px;
    

    .menu__item{
        padding: 14px 20px;
        border-radius: 2.18rem;
        list-style: none;
        cursor: pointer;
        
        & a{
            color: $text-color;
            font-weight: 600;
            text-align: center;
            text-decoration: none;
        }
        
        &:hover {
            background-color: $primary-clr;
            
            & a {
                color:$text-color-alt;
            }
        }

    }
}