.whatsapp__icon {
    width: 90px;
    height: 90px;
    position: fixed;
    bottom: 0;
    top: 85vh;
    left: 86vw;
    right: 0;
    
    & img{
        width: 100%;
        height: 100%;
    }

}